.option{
    position: relative;
    right: 10vw;
    top:15vh;
    
   
    label {
        
        
    }

    input[type=radio] {
        width: 2vw;
        height: 3vh; /* Chrome, Safari, Opera */
        
    }
    

}