.title{
    background-color: rgb(0, 0, 0);
    
    padding-bottom: 6vh;
    padding-left: 60vw;
    padding-top: 6vh;
    padding-right: 20vw;
    color: white;
    
    
}
.title #text
{
    
    width:50vw;
    overflow:hidden;
    height:auto;
   

    display: inline-block;
}